<% number_of_tasks = goal.tasks.count.to_f %>
<%= progress_percent = number_of_tasks == 0 ? 100 : (goal.tasks.where(completed: true).count / number_of_tasks) * 100 %>
<div id="<%= dom_id goal %>">
  <h2>
    <%= goal.name %>
  </h2>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= progress_percent%>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div>
    <%= goal.description %>
  </div>
  <% goal.tasks.each do |task| %>
    <%= simple_form_for(task, url: goal_task_path(goal, task)) do |f| %>
      <%= f.input :name, input_html: { value: task.name } %>
      <%= f.input :completed, as: :boolean, input_html: { checked: task.completed } %>
      <%= f.submit "Save!", class: "btn btn-primary" %>
    <% end %>
    <%= button_to "Delete", goal_task_path(goal, task), method: :delete, class: "btn btn-danger" %>
  <% end %>
  <%= simple_form_for(Task.new, url: goal_tasks_path(goal)) do |f| %>
    <%= f.input :name %>
    <%= f.input :completed, as: :boolean %>
    <%= f.submit "Create!", class: "btn btn-primary" %>
  <% end %>
</div>
